:root {
  --bg-color: rgba(255, 255, 255, 1);
  --fg-color-5: rgba(238, 238, 238, 1);

  --notion-item-blue: rgb(211, 227, 246);
  --notion-item-orange: rgb(241, 222, 209);
  --notion-item-green: rgb(221, 230, 222);
  --notion-item-pink: rgb(242, 222, 228);
  --notion-item-brown: rgb(234, 224, 217);
  --notion-item-red: rgb(255, 226, 221);
  --notion-item-yellow: rgb(240, 227, 195);
  --notion-item-default: rgba(229, 228, 226, 0.5);
  --notion-item-purple: rgb(231, 223, 241);
  --notion-item-gray: rgb(230, 229, 227);
}

.dark-mode {
  --bg-color: rgba(32, 32, 32, 1) !important;
  /* --fg-color-1: rgba(40, 40, 40, 0.9) !important; */
  /* --fg-color-2: rgba(40, 40, 40, 0.8) !important; */
  /* --fg-color-3: rgba(40, 40, 40, 0.7) !important; */
  /* --fg-color-4: rgba(40, 40, 40, 0.6) !important; */
  /* --fg-color-5: rgba(40, 40, 40, 0.5) !important; */
  --fg-color-1: rgba(65, 65, 65, 1) !important;
  --fg-color-5: rgba(40, 40, 40, 1) !important;

  --notion-item-blue: rgb(67, 101, 143);
  --notion-item-orange: rgb(136, 91, 59);
  --notion-item-green: rgb(75, 110, 86);
  --notion-item-pink: rgb(125, 82, 104);
  --notion-item-brown: rgb(114, 92, 74);
  --notion-item-red: rgb(145, 85, 76);
  --notion-item-yellow: rgb(133, 107, 54);
  --notion-item-default: rgba(66, 66, 65, 0.5);
  --notion-item-purple: rgb(107, 88, 128);
  --notion-item-gray: rgb(104, 103, 98);

  --notion-item-text-blue: #fff;
  --notion-item-text-orange: #fff;
  --notion-item-text-green: #fff;
  --notion-item-text-pink: #fff;
  --notion-item-text-brown: #fff;
  --notion-item-text-red: #fff;
  --notion-item-text-yellow: #fff;
  --notion-item-text-default: #fff;
  --notion-item-text-purple: #fff;
  --notion-item-text-gray: #fff;
}

.dark-mode .notion-external-block {
  border-color: rgb(65, 65, 65);
}

.dark-mode .notion-external-title {
  color: #fff;
}

.dark-mode .notion-external-block-desc {
  color: #999999;
}

.notion {
  --notion-max-width: 720px;
  --notion-header-height: 54px;
}

.notion-frame {
  padding: 0;
}

.notion-page {
  padding-bottom: calc(max(5vh, 32px)) !important;
  line-height: 1.65;
}

.wide-page {
  --notion-max-width: 900px;
}

.notion-text {
  margin: 0;
  padding: 0;
}

.notion-asset-caption {
  text-align: center;
}

.notion-asset-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.notion-asset-wrapper-image > div,
.notion-asset-wrapper-image img {
  border-radius: 5px;
  width: 100% !important;
}

.notion-asset-wrapper-video > div,
.notion-asset-wrapper-video video {
  border-radius: 5px;
  width: 100% !important;
}

.notion-header .notion-nav-header {
  max-width: 1100px;
  margin: 0 auto;
  overflow-x: auto;
}

.notion-nav-header-rhs {
  gap: 0.5rem;
}

.notion-gallery-grid-size-small {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.notion-gallery-grid-size-medium {
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.notion-gallery-grid .notion-page-icon-inline {
  display: none;
}

.notion-gallery-grid .notion-page-title-text {
  font-size: 1.4em;
  white-space: unset;
}

.notion-gallery-grid .notion-collection-card-property {
  white-space: unset;
  text-overflow: unset;
}

.notion-gallery-grid .notion-property-text {
  font-size: 14px;
}

.notion-collection-card {
  border-radius: 10px;
  box-shadow: none;

  overflow: visible;
}

.light-mode .notion-collection-card:hover {
  filter: brightness(90%);
}

.dark-mode .notion-collection-card:hover {
  filter: brightness(110%);
}

.light-mode .notion-collection-card {
  border: 1.5px solid var(--fg-color-5);
}

.dark-mode .notion-collection-card {
  background-color: rgba(38, 38, 38, 1);
  border: 1.5px solid var(--fg-color-5);
}

.notion-collection-card-cover {
  /* border-radius: 10px; */
  border-radius: 10px 10px 0 0;
  border-bottom: 0 none;
  transition: filter 150ms linear;
  filter: none;
}

.light-mode .notion-collection-card-cover {
  background-color: rgba(250, 250, 250, 1);
}

.dark-mode .notion-collection-card-cover {
  background-color: rgba(45, 45, 45, 1);
}

.notion-collection-card-body {
  padding: 10px;
}

/* only target safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root,
  .notion-collection-card-cover {
    transition: none 0ms linear;
  }
}

.notion-quote {
  padding: 0.2em 0.75em;
  line-height: 1.5;
  font-style: italic;
  font-size: 1.2em;
  /* border-left: 4px solid #67bdfc; */
}

.notion-h1,
.notion-h2,
.notion-h3 {
  margin-bottom: 0.25em;
}

.notion-callout {
  margin: 0.75em 0;
  border-radius: 10px;
  border: none;
}

.notion-property-checkbox-checked {
  border-radius: 2px;
}

.notion-to-do-checked {
  color: rgb(125, 125, 125);
  text-decoration: line-through;
}

.notion-property-checkbox-checked svg{
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
}

.notion-property-checkbox-unchecked {
  border-radius: 2px;
  border-width: 1.5px;
}

.notion-hr {
  margin: 2em 0;
}

@media only screen and (max-width: 920px) {
  .index-page.notion-page {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media only screen and (max-width: 720px) {
  .notion-page {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .notion-search-button {
    display: none !important;
  }
}

.notion .notion-page-icon-cover {
  margin-left: auto;
  margin-right: auto;
}

.notion-title {
  display: block;
  text-align: center;
}

.notion-collection-row {
  padding-bottom: 1em;
  border-color: rgb(65, 65, 65);
}

.notion-collection-page-properties .notion-collection-column-title {
  display: none;
}

.notion-collection-row-property .notion-property {
  display: flex;
  justify-content: center;
}

.notion-collection-row-value {
  display: flex;
  align-items: center;
  padding: 0;
  min-height: 23px;
}

.notion-page-cover-wrapper,
.notion-page-cover-wrapper span,
.notion-page-cover-wrapper img {
  max-width: 1200px !important;
  border-radius: 24px;
}

.notion-page-cover-wrapper {
  box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
}

@media only screen and (max-width: 1200px) {
  .notion-page-cover-wrapper,
  .notion-page-cover-wrapper span,
  .notion-page-cover-wrapper img {
    border-radius: 0;
  }
}

.notion-block-2a123a07c5368115b5c0f59f65f96c6e .notion-page-link:hover {
  border-radius: 5px;
}

.dark-mode .notion-block-2a123a07c5368115b5c0f59f65f96c6e .notion-page-link:hover {
  background-color: rgba(38, 38, 38, 1);
}

.dark-mode .notion-block-2a123a07c5368115b5c0f59f65f96c6e .notion-page-link .notion-page-title .notion-page-title-text {
  border-bottom: 1.5px solid rgba(54, 54, 54, 1);
}

.notion-code {
  border-radius: 10px;
}

.light-mode .notion-code {
  background-color: rgba(249, 248, 247, 1);
}

.notion-code-copy-button {
  font-size: 1em;
  padding: 0.4em;
}

.notion-link {
  position: relative;
  transition: unset;
  opacity: 1;
  border-bottom-width: 0.1rem;
  background: transparent;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 0 0.1rem;
}

.notion-link:focus,
.notion-link:hover {
  border-bottom-color: transparent;

  background-image: linear-gradient(90.68deg, #b439df 0.26%, #e5337e 102.37%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0.1rem;

  transition-property: background-position, background-size;
  transition-duration: 300ms;
}

.notion-red_background,
.notion-pink_background,
.notion-blue_background,
.notion-purple_background,
.notion-teal_background,
.notion-yellow_background,
.notion-orange_background,
.notion-brown_background,
.notion-gray_background {
  padding: 0 0.5rem;
  margin: 0 -0.5rem 0 -0.25rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.125rem;
  box-decoration-break: clone;

  background-color: none;

  /* light yellow */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #fff697 10.5%,
    #fdf59d 85.29%,
    var(--bg-color)
  );
}

.notion-purple_background,
.notion-pink_background {
  /* light pink */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #f5b8d1 10.5%,
    #f9bcd3 85.29%,
    var(--bg-color)
  );
}

.notion-blue_background,
.notion-gray_background {
  /* light blue */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #adedfc 10.5%,
    #adebfd 85.29%,
    var(--bg-color)
  );
}

.notion-red_background,
.notion-orange_background {
  /* light red */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #f5c4ff 10.5%,
    #e7a8fc 85.29%,
    var(--bg-color)
  );
}

.notion-teal_background {
  /* light green */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #d4eabc 10.5%,
    #d2eabc 85.29%,
    var(--bg-color)
  );
}

.notion-brown_background {
  /* dark blue */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #96b8ec 10.5%,
    #a6c3f0 85.29%,
    var(--bg-color)
  );
}

/* disable highlighting in dark mode */
.dark-mode .notion-red_background,
.dark-mode .notion-pink_background,
.dark-mode .notion-blue_background,
.dark-mode .notion-purple_background,
.dark-mode .notion-teal_background,
.dark-mode .notion-yellow_background,
.dark-mode .notion-orange_background,
.dark-mode .notion-brown_background,
.dark-mode .notion-gray_background {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none !important;
}

/* if you don't want rounded page icon images, remove this */
.notion-page-icon-hero.notion-page-icon-image {
  border-radius: 50%;
  box-shadow: 0 8px 40px 0 rgb(0 0 0 / 21%);
}
.notion-page-icon-hero.notion-page-icon-image span,
.notion-page-icon-hero.notion-page-icon-image img {
  border-radius: 50%;
}

.notion-header {
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: saturate(180%) blur(16px);
}

.dark-mode .notion-header {
  background: transparent;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(20px);
}

/* Workaround for Firefox not supporting backdrop-filter yet */
@-moz-document url-prefix() {
  .dark-mode .notion-header {
    background: hsla(203, 8%, 20%, 0.8);
  }
}

.notion-bookmark:hover {
  border-image: linear-gradient(90.68deg, #b439df 0.26%, #e5337e 102.37%);
  border-image-slice: 1;
}

.notion-block-2a123a07c5368115b5c0f59f65f96c6e .notion-column {
  padding: 0;
}

.notion-block-260baa77f1e1428b97fb14ac99c7c385 {
  display: none;
}

.notion-search .searchBar {
  box-shadow: var(--fg-color-0) 0px 1px 0px;
}

.notion-search .noResults {
  color: var(--fg-color-3);
}

.notion-search .noResultsDetail {
  color: var(--fg-color-2);
}

.notion-equation.notion-equation-block{
  align-items: center;
}
